<div class="main-header row">
    <div class="header__left col-2">
        <img src="images/logo_test.png" alt="logo">
    </div>
    <div class="header__right col-2 row">
        <div class="sign col-2">
          <h4>Handicrafted by <br><span> Thinh </span></h4>
        </div>
        <div class="avatar col-2">
          <img src="images/avatar.png" alt="avatar">
        </div>
    </div>
</div>

