<div class="container">
  <div class="title">
    <div class="text">
      <p>
        A joke a day keeps the doctor away
    </p>
    <p>
        If you joke wrong way, your teeth have to pay. (Serious)
    </p>
    </div>
  </div>
  <div class="content">
    <div id="jokeContent" class="text">
      
    </div>
    <div id="jokeButton" class="button">
      <button class="btn btn-funny" onclick="funnyFunc('funny')" type="button">This is funny!</button>
      <button class="btn btn-notFunny" onclick="funnyFunc('notfunny')" type="button">This is not funny</button>
    </div>
  </div>
</div>